.auth-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.to-register {
  background-color: transparent;
  color: inherit;
}

.to-login {
  background-color: transparent;
  color: inherit;
}
